.fa, .fas, .fa-solid, .far, .fa-regular, .fal, .fa-light, .fat, .fa-thin, .fad, .fa-duotone, .fab, .fa-brands {
    line-height: inherit;
}

.quarter {
    width: 6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


.table tbody tr.row-muted td {
    background-color: white;
}

.sidebar-menu {
    top: 8rem;
}


.navbar-nav .breadcrumb {
    font-size: unset;
    margin-left: 0;
}

.author-list {
    width: 100%;
    background-color: white;
    border: 1px solid #afafaf;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 2pt;
    vertical-align: middle;
}

.author-list .author,
.author-list input {
    display: inline-block;
    background-color: var(--body-color);
    padding: .4rem .6rem;
    margin: .4rem .3rem;
    height: 2.8rem;
    border: 1px solid #afafaf;
    border-radius: 2pt;
    cursor: pointer;
}

/* .author-list .author {
    pointer-events: fill;
} */

.author.author-aoi {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.author.author-aoi::before {
    content: var(--affiliation);
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: .6rem;
}

.author a {
    margin-left: .6rem;
    color: var(--danger-color-dark);
}

.nav-pills div {
    display: inline-block;
}

.nav-pills input {
    display: none;
}

/* 
.nav-pills label:focus-within {
    background-color: var(--primary-color);
    color : white;
} */


.table-aligned tr td:first-child {
    padding-left: 0;
}

.table-aligned tr td:last-child {
    padding-right: 0;
}

td.unbreakable {
    white-space: nowrap;
}



.check-list, .check-list ul {
    margin: 0;
    padding-left: 1.2rem;
}

.check-list li {
    position: relative;
    list-style-type: none;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '\f0c8';
    font-family: 'Font Awesome 6 Pro';
    font-weight: 400;
    display: block;
    position: absolute;
    color: var(--muted-color);
    left: 0;
    top: 0;
}

.check-list li.checked::before {
    content: '\f14a';
    color: var(--success-color);
}

.check-list li.moved::before {
    content: '\f32b';
    color: var(--signal-color);
}


.ql-container {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.ql-toolbar.ql-snow {
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-color: var(--border-color);
    background-color: #f1f1f1;
}

.ql-container.ql-snow {
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-color: var(--border-color);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    background-color: white;
}

.ql-editor.is-valid {
    border-color: var(--success-color);
    -moz-box-shadow: 0 0.2rem 0 var(--success-box-shadow-color);
    -webkit-box-shadow: 0 0.2rem 0 var(--success-box-shadow-color);
    box-shadow: 0 0.2rem 0 var(--success-box-shadow-color);
}

.ql-snow.ql-toolbar::after,
.ql-snow .ql-toolbar::after {
    content: 'Bitte Rechtschreibung und Formatierung sorgsam prüfen.';
    display: inline-block;
    color: var(--muted-color);
}

.lang-en .ql-snow.ql-toolbar::after,
.lang-en .ql-snow .ql-toolbar::after {
    content: 'Please check spelling and formatting carefully.';
}

strong {
    font-weight: 900;
}


.text-purple {
    color: var(--color-cold-purple) !important;
}

.text-orange {
    color: var(--color-warm-orange) !important;
}

.text-blue {
    color: var(--color-cold-lightblue) !important;
}

.btn.btn-select {
    height: auto;
}

.btn.btn-select:not(.disabled):not(:disabled).active {
    background-color: white;
}

.btn.btn-select i {
    display: block;
    font-size: 2.5rem;
    margin-top: .5rem;
}

.btn.btn-tour {
    background-color: white;
    color: var(--success-color);
    border-color: var(--success-color);
    border-left-width: 5px;
}


.lom {
    font-weight: bold;
    text-align: right !important;
}

.lom::before {
    content: '\f85c';
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    color: var(--signal-color);
    margin-right: .5rem;
}

.lom span {
    cursor: help;
}

.loader {
    position: fixed;
}

.csl-entry, .csl-bib-body {
    display: inline;
}

.btn.btn-osiris {
    background-color: white;
    background-image: linear-gradient(80deg, var(--signal-color), var(--danger-color));
    color: white;
    border-color: var(--danger-color);
    border-radius: 3.2rem;
    border-width: 0px;
    display: block;
    font-weight: bold;
    position: relative;
    z-index: 4;
}

.btn.btn-osiris:not(.disabled):not(:disabled):focus, .btn.btn-osiris:not(.disabled):not(:disabled).active {
    -moz-box-shadow: 0 0 0 0.3rem var(--signal-box-shadow-color);
    -webkit-box-shadow: 0 0 0 0.3rem var(--signal-box-shadow-color);
    box-shadow: 0 0 0 0.3rem var(--signal-box-shadow-color);
}


.btn.btn-osiris:hover {
    /* background-color: var(--danger-color); */
    /* background-image: linear-gradient(80deg, var(--signal-color), var(--danger-color)); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white;
}

.cta {
    position: relative;
    margin: 1rem 2.5rem .5rem;
}

.cta:hover::before {
    content: '';
    background-image: linear-gradient(80deg, var(--signal-color), var(--danger-color));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 3.2rem;
}

.cta:hover::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: white;
    z-index: 2;
    border-radius: 3.2rem;
}


.row-MIOS { border-left: 3px solid #d31e25; }
.row-BIDB { border-left: 3px solid #5db5b7; }
.row-MIG { border-left: 3px solid #d1c02b; }
.row-BUG { border-left: 3px solid #8a3f64; }
.row-MuTZ { border-left: 3px solid #31407b; }
.row-PFVI { border-left: 3px solid #369e4b; }
.row-MÖD { border-left: 3px solid #d7a32e; }
.row-Services { border-left: 3px solid #4f2e39; }
.row-Patente { border-left: 3px solid #b2b2b2; }
.row-IT { border-left: 3px solid #5F272A; }
.row-Verwaltung { border-left: 3px solid #5F272A; }
.row-PuK { border-left: 3px solid #5F272A; }

.text-MIOS { color: #d31e25; }
.text-BIDB { color: #5db5b7; }
.text-MIG { color: #d1c02b; }
.text-BUG { color: #8a3f64; }
.text-MuTZ { color: #31407b; }
.text-PFVI { color: #369e4b; }
.text-MÖD { color: #d7a32e; }
.text-Services { color: #4f2e39; }
.text-Patente { color: #b2b2b2; }
.text-IT { color: #5F272A; }
.text-Verwaltung { color: #5F272A; }
.text-PuK { color: #5F272A; }