.quarter{
    width: 9rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


.table tbody tr.row-muted td {
    background-color: #f5f5f5;
}

.sidebar-menu {
    top: 8rem;
}


.navbar-nav .breadcrumb {
    font-size: unset;
    margin-left: 0;
}

.author-list {
    width: 100%;
    background-color: white;
    border: 1px solid #afafaf;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 2pt;
    vertical-align: middle;
}

.author-list .author,
.author-list input {
    display: inline-block;
    background-color: var(--body-color);
    padding: .4rem .6rem;
    margin: .4rem .3rem;
    height: 2.8rem;
    border: 1px solid #afafaf;
    border-radius: 2pt;
    cursor: pointer;
}
/* .author-list .author {
    pointer-events: fill;
} */

.author.author-dsmz {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.author.author-dsmz::before {
    content: 'DSMZ';
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: .6rem;
}

.author a {
    margin-left: .6rem;
    color: var(--danger-color-dark);
}

.nav-pills div {
    display: inline-block;
}

.nav-pills input {
    display: none;
}
/* 
.nav-pills label:focus-within {
    background-color: var(--primary-color);
    color : white;
} */


.table-aligned tr td:first-child {
    padding-left: 0;
}
.table-aligned tr td:last-child {
    padding-right: 0;
}

td.unbreakable {
    white-space:nowrap;
}