// $lvl-1: #8bc34a;
// $lvl-2: #35afea;
// $lvl-3: #af52bf;
// $lvl-4: #f2ab38;
$lvl-1: #b26d47;
$lvl-2: #aaabaf;
$lvl-3: #c19f3f;
$lvl-4: #37b6de;

:root {
  --lvl-1: $lvl-1;
  --lvl-2: $lvl-2;
  --lvl-3: $lvl-3;
  --lvl-4: $lvl-4;
}

.row {
  .tile.achievement {
    /* height: 100%; */
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .tile-content {
      flex: 1 1 auto;
    }
  }
}

@media (min-width: 1200px) {
  .col-lg-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1600px) {
  .col-xl-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.level span {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
  display: inline-block;
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.achievement {
  h3,
  h5 {
    margin: 0;
    font-weight: 800;
  }

  h5 {
    text-transform: uppercase;
    color: white;
  }

  svg {
    height: auto;
    max-height: 100%;

    #color * {
      fill: white !important;
      // opacity: .8;
    }

    #lvl-1,
    #lvl-2,
    #lvl-3,
    #lvl-max {
      display: none;
    }
  }

  [data-toggle="tooltip"]::after {
    width: 14rem;
  }

  .thumb svg {
    height: 8rem;
    width: 8rem;
    margin-right: 2rem;
  }

  .thumb-sm {
    display: inline-block;
    width: 4rem;
    height: 4rem;
  }

  .lvl0 {
    h3 {
      color: var(--muted-color);
    }
  }

  &.lvl1 {
    h5,
    i {
      color: $lvl-1;
    }

    // svg #color * {
    //     fill: $lvl-1 !important;
    // }
    svg #lvl-1 {
      display: block;
    }

    .level span:nth-of-type(1) {
      background-color: $lvl-1;
    }
  }

  &.lvl2 {
    h5,
    i {
      color: $lvl-2;
    }

    // svg #color * {
    //     fill: $lvl-2 !important;
    // }
    svg #lvl-2 {
      display: block;
    }

    .level span:nth-of-type(1) {
      background-color: $lvl-1;
    }

    .level span:nth-of-type(2) {
      background-color: $lvl-2;
    }
  }

  &.lvl3 {
    h5,
    i {
      color: $lvl-3;
    }

    // svg #color * {
    //     fill: $lvl-3 !important;
    // }
    svg #lvl-3 {
      display: block;
    }

    .level span:nth-of-type(1) {
      background-color: $lvl-1;
    }

    .level span:nth-of-type(2) {
      background-color: $lvl-2;
    }

    .level span:nth-of-type(3) {
      background-color: $lvl-3;
    }
  }

  &.max-4.lvl4,
  &.max-3.lvl3,
  &.max-2.lvl2,
  &.max-1.lvl1,
  &.lvl-max {
    h5,
    i {
      color: $lvl-4;
    }

    // svg #color * {
    //     fill: $lvl-4 !important;
    // }
    svg #lvl-max {
      display: block;
    }

    .level span:nth-of-type(1) {
      background-color: $lvl-1;
    }

    .level span:nth-of-type(2) {
      background-color: $lvl-2;
    }

    .level span:nth-of-type(3) {
      background-color: $lvl-3;
    }

    .level span:last-of-type {
      background-color: $lvl-4;
    }
  }
}

.achievement-widget {
  font-weight: bold;
  font-size: 2rem;

  img {
    height: 4rem;
  }

  &-lg {
    font-size: 3rem;

    img {
      height: 6rem;
    }
  }

  .achievement {
    display: flex;
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
    // color: inherit;

    &.lvl-1 {
      color: $lvl-1;
    }
    &.lvl-2 {
      color: $lvl-2;
    }
    &.lvl-3 {
      color: $lvl-3;
    }
    &.lvl-max {
      color: $lvl-4;
    }
  }
}

/* gray filter for achievements on profile page */
.achievements .achievement-widget {
  filter: grayscale(1);
  transition: all 0.5s linear;
}
.achievements .achievement-widget:hover {
  filter: grayscale(0);
}
