DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
RewriteBase /osiris

# Deliver the folder or file directly if it exists on the server
RewriteRule ^(css|img|js|uploads)($|/) - [L]

# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]
