ErrorDocument 400 /research-report/error?error=400
ErrorDocument 401 /research-report/error?error=401
ErrorDocument 403 /research-report/error?error=403
ErrorDocument 404 /research-report/error?error=404
ErrorDocument 500 /research-report/error?error=500
ErrorDocument 503 /research-report/error?error=503

DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /research-report

# Deliver the folder or file directly if it exists on the server
RewriteRule ^(css|img|js)($|/) - [L]
# RewriteRule ^medium_editor.php($|/) - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^sitemap\.xml$ sitemap.php [L]
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]