
.icon-dsmz:before { content: '\e804'; } /* '' */
.icon-open-access:before { content: '\e816'; } /* '' */
.icon-closed-access:before { content: '\e819'; } /* '' */
.icon-activity-info:before { content: '\e81c'; } /* '' */
.icon-activity-pen:before { content: '\e81d'; } /* '' */
.icon-activity-plus:before { content: '\e81e'; } /* '' */
.icon-activity-poop:before { content: '\e81f'; } /* '' */
.icon-activity-question:before { content: '\e820'; } /* '' */
.icon-activity-search:before { content: '\e821'; } /* '' */
.icon-activity-shield:before { content: '\e822'; } /* '' */
.icon-activity-slash:before { content: '\e823'; } /* '' */
.icon-activity-tag:before { content: '\e824'; } /* '' */
.icon-activity-user:before { content: '\e825'; } /* '' */
.icon-activity-xmark:before { content: '\e826'; } /* '' */
.icon-activity-exclamation:before { content: '\e827'; } /* '' */
.icon-activity-gear:before { content: '\e828'; } /* '' */
.icon-activity-lock:before { content: '\e829'; } /* '' */
.icon-activity-minus:before { content: '\e82a'; } /* '' */
